.progress {
	margin-top: 20px;
	height: 25px;
}

.buttons_percent {
	margin-top: 40px; 
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.buttons_percent {
	max-width: 100%;
}

.progress {
	max-width: 100%;
	width: 100%;
}
